<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>
    function login(){
    FB.login(function(response){
  console.log(response);
},{scope: 'pages_manage_posts,pages_show_list,pages_read_engagement,pages_manage_metadata'});
}
</script>


<!-- The JS SDK Login Button -->

<button onclick="login()">LOGIN</button>

<div id="status">
</div>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
</body>
</html>