{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="{% static  'plugins/owl-carousel/owl.carousel.min.css' %}">

    <!-- ====video poppu css==== -->
    <link rel="stylesheet" href="{% static 'plugins/Magnific-Popup/magnific-popup.css' %}">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="{% static  'css/style.css' %}">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--==== Contact Form ====-->
	  <link rel="stylesheet" href="{% static 'css/istyle.css' %}">
</head>