<!--Div for Background-->
{% extends 'base.html' %}
{% block title %}Reset Password{%endblock %}
{% load static %}
{% block content %}
<style>
    body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url({% static 'images/images.png' %});
    background-size: 100% 100%;
    background-position: top center
}

.content {
    margin-top: 20%
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.InputStyle {
    border-radius: 25px;
    border: solid 1px white;
    background: transparent;
    width: 300px;
    padding: 10px 20px
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    color: white
}

.social-btn {
    position: absolute;
    bottom: 20px;
    left: 47%
}

i {
    padding: 5px;
    color: white
}

input,
input:focus {
    border: solid 1px white;
    background-color:white;
    color:black;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: nones;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.secondLine {
    font-weight: 350;
    font-size: 15px;
    margin-bottom: 15%;
    color: white
}

.firstLine {
    font-size: 30px;
    color: white
}

@media only screen and (max-width: 600px) {
    .firstLine {
        font-size: 20px
    }
}
</style>
<body>

<div class="bg text-center">
    <!--Div for Centered Text & Input-->
    <div class="centered">
        <p class="firstLine"> R &nbsp; E &nbsp; S &nbsp; E &nbsp; T &nbsp; .</p>

        <p><form method="post">
    {% csrf_token %}
   <input class="InputStyle" placeholder="Enter Your Email" style="font-family:Arial, FontAwesome" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
    <br><br><button type="submit" class="btn btn-primary">Submit</button>
</form></p>
    </div>
    <!--Div for bottom Icons-->
    <div class="social-btn"> <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a> <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div>
</div>


</body>
{% endblock %}