{% extends 'base.html' %}
{% block title %}Reset Password{%endblock %}
{% block content %}
{% load static %}
<style>
    body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url({% static 'images/images.png' %});
    background-size: 100% 100%;
    background-position: top center
}

.content {
    margin-top: 20%
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.InputStyle {
    border-radius: 25px;
    border: solid 1px white;
    background: transparent;
    width: 300px;
    padding: 10px 20px
}

input,
input::-webkit-input-placeholder {
    font-size: 12px;
    color: white
}

.social-btn {
    position: absolute;
    bottom: 20px;
    left: 47%
}

i {
    padding: 5px;
    color: white
}

input,
input:focus {
    border: solid 1px white;
    background-color:white;
    color:black;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: nones;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.secondLine {
    font-weight: 350;
    font-size: 15px;
    margin-bottom: 15%;
    color: white
}

.firstLine {
    font-size: 30px;
    color: white
}
p,li
{
color:white;
}
@media only screen and (max-width: 600px) {
    .firstLine {
        font-size: 20px
    }
}
</style>
<body>

<div class="bg text-center">
    <!--Div for Centered Text & Input-->
    <div class="centered">
        <p class="firstLine"> R &nbsp; E &nbsp; S &nbsp; E &nbsp; T &nbsp; .</p>

<hr>
  {% if validlink %}

    <form method="post">

      <br>
      {% csrf_token %}

        {{ form.new_password2.errors }}
      <input type="password" class="InputStyle" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Password">
      <br><ul><br><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul>
      <br><input type="password" class="InputStyle" placeholder="Confirm Password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
     <br> <br><button type="submit" class="btn btn-primary">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>

  {% endif %}






</body>

{% endblock %}