  <!-- sidebar-wrapper  -->
 {% extends 'head.html' %}
  {% block title %}Schedule Post{% endblock %}
  {% block main %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      .insta
      {
  padding:5%;
  }
  .insta:hover
  {
opacity:0.8;
  }
  </style>
    <div class="container-fluid">

      <h2 class="text-center">Schedule Post</h2>

      <hr style="height:2px;border-width:0;color:white;background-color:white">

      <div class="row">
        <div class="form-group col-md-12">
 {% if non_select %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Select where to upload the post</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}
             {% if uploaded %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Your post has been successfully scheduled.... :)</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}<br>
 Upload To-<br>
    {% if instagram == 1 %}
    <p class="text-center"><input type="checkbox" name="instagram" id="instagram" class="example" value="1">
        <label for="instagram" class="btn btn-danger"> Instagram</label>
        {% endif %}
         {% if facebook == 1 %}
        <br><br>
   <input type="checkbox" name="facebook" id="facebook" class="example" value="1">
        <label for="facebook" class="btn btn-primary"> Facebook</label>
    {% endif %}
    {% if twitter == 1 %}
        <br><br>
    <input type="checkbox" name="twitter" id="twitter" class="example" value="1">
        <label for="twitter" class="btn btn-primary" style="background-color:#00ccff;color:white"> Twitter</label>
        {% endif %}
        <br><br>
        <input type="checkbox" id="select-all" name="sall"> <label for="select-all" class="btn btn-warning"> Select all</label><br>
</p>


<br>
    {{form1}}
    <br>
    <input type="submit" class="btn btn-primary btn btn-primary btn-block">
</form>
<script>
    document.getElementById('select-all').onclick = function() {
  var checkboxes = document.getElementsByClassName("example");
  for (var checkbox of checkboxes) {
    checkbox.checked = this.checked;
  }
}
</script>


      </div>
      <hr>

  {% endblock %}



