{% extends 'base.html' %}

{% block title %}Schedule{% endblock %}

{% block content %}
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}<br>
    <br>
    <br>
    {% if instagram == 1 %}
    <input type="checkbox" name="instagram" class="example" value="1"> Instagram<br>
    {% endif %}
    {% if facebook == 1 %}
    <input type="checkbox" name="facebook" class="example" value="1"> Facebook<br>
    {% endif %}
    {% if facebook == 1 %}
    <input type="checkbox" name="twitter" class="example" value="1"> Twitter<br>
    {% endif %}
    <br>
     <input type="checkbox" id="select-all" name="sall"> Select All<br>
<br>
    {{form1}}
    <input type="submit">
</form>
<script>
    document.getElementById('select-all').onclick = function() {
  var checkboxes = document.getElementsByClassName("example");
  for (var checkbox of checkboxes) {
    checkbox.checked = this.checked;
  }
}
</script>
<hr>

{% endblock %}