  <!-- sidebar-wrapper  -->
 {% extends 'head.html' %}
  {% block title %}Setup | {{name|title}} {% endblock %}
  {% block main %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
      .insta
      {
  padding:5%;
  }
  .insta:hover
  {
opacity:0.8;
  }
  </style>
    <div class="container-fluid">

      <h2 class="text-center">Setup | {{name|title}}</h2>
      <hr style="height:2px;border-width:0;color:white;background-color:white">
      <div class="row">
        <div class="form-group col-md-12">
            {% if social == 'twitter' %}
            <a href="{% url 'fbe' %}" class="btn btn-primary btn-social btn-twitter" style=" display: flex;
  align-items: center;
  justify-content: center;"><i class="fa fa-twitter"></i>Go To Twitter</a><br /><br>
            {% elif social == 'linkd' %}
              <a href="{% url 'linkd' %}" class="btn btn-primary btn-social btn-twitter" style=" display: flex;
  align-items: center;
  justify-content: center;"><i class="fa fa-linkedin" style="margin-right:1%">       </i>     Go To Linkedin</a><br /><br>

            {% else %}
           <form method="post">
    {% csrf_token %}
    {{form}}
                         <br>
    <input type="submit" class="btn btn-primary btn btn-primary btn-block"><br>
</form>
               {% endif %}


            {% if isu %}

            <a href="{% url 'delete' name %}" class="btn btn-danger">Remove Account</a>


{% endif %}

      </div>
      <hr>

  {% endblock %}

