  <!-- sidebar-wrapper  -->
 {% extends 'head.html' %}
  {% block title %}Upload Post{% endblock %}
  {% block main %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>

textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #ddd;
  &:focus {
    outline: none;
    border: 1px solid darken(#ddd, 5%);
    box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
  }
  &[placeholder] {
    font-style: italic;
    font-size: 0.875rem;
  }
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}

      .insta
      {
  padding:5%;
  }
  .insta:hover
  {
opacity:0.8;
  }
  </style>
    <div class="container-fluid">

      <h2 class="text-center">Upload Post</h2>

      <hr style="height:2px;border-width:0;color:white;background-color:white">

      <div class="row">
        <div class="form-group col-md-12">
 {% if non_select %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Select where to upload the post</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}
            {% if instap %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Instagram Requires a photo to be upload</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}
            {% if tlimit %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Tweet limit is 280 characters</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}
             {% if uploaded %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Your post will be posted momentarily.... :)</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
            {% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
     <div id="the-count">
    <span id="current">0</span>
    <span id="maximum">/ 500</span>
  </div>
<br>
    Upload To-<br>
    {% if instagram == 1 %}
    <p class="text-center"><input type="checkbox" name="instagram" id="instagram" class="example" value="1">
        <label for="instagram" class="btn btn-danger"> Instagram</label>
        {% endif %}
         {% if facebook == 1 %}
        <br><br>
   <input type="checkbox" name="facebook" id="facebook" class="example" value="1">
        <label for="facebook" class="btn btn-primary"> Facebook</label>
    {% endif %}
    {% if twitter == 1 %}
        <br><br>
    <input type="checkbox" name="twitter" id="twitter" class="example" value="1">
        <label for="twitter" class="btn btn-primary" style="background-color:#00ccff;color:white"> Twitter</label>
        {% endif %}

          {% if linkd == 1 %}
        <br><br>
    <input type="checkbox" name="linkd" id="linkd" class="example" value="1">
        <label for="linkd" class="btn btn-primary" style="background-color:blue;color:white"> Linkedin</label>
        {% endif %}
        <br><br>
        <input type="checkbox" id="select-all" name="sall"> <label for="select-all" class="btn btn-warning"> Select all</label><br>
</p>

    <input type="submit" class="btn btn-primary btn btn-primary btn-block">
</form>

<hr>
<script>
$('textarea').keyup(function() {

  var characterCount = $(this).val().length,
      current = $('#current'),
      maximum = $('#maximum'),
      theCount = $('#the-count');

  current.text(characterCount);


  /*This isn't entirely necessary, just playin around*/
  if (characterCount < 70) {
    current.css('color', '#666');
  }
  if (characterCount > 70 && characterCount < 90) {
    current.css('color', '#6d5555');
  }
  if (characterCount > 90 && characterCount < 100) {
    current.css('color', '#793535');
  }
  if (characterCount > 100 && characterCount < 120) {
    current.css('color', '#841c1c');
  }
  if (characterCount > 120 && characterCount < 139) {
    current.css('color', '#8f0001');
  }

  if (characterCount >= 140) {
    maximum.css('color', '#8f0001');
    current.css('color', '#8f0001');
    theCount.css('font-weight','bold');
  } else {
    maximum.css('color','#666');
    theCount.css('font-weight','normal');
  }


});
</script>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<script>
    document.getElementById('select-all').onclick = function() {
  var checkboxes = document.getElementsByClassName("example");
  for (var checkbox of checkboxes) {
    checkbox.checked = this.checked;
  }
}
</script>


      </div>
      <hr>

  {% endblock %}

