<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add New Project-NexxPlanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'adminp/font/iconsmind-s/css/iconsminds.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/font/simple-line-icons/css/simple-line-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'adminp/css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/bootstrap.rtl.only.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/bootstrap-float-label.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/main.css' %}" />
	<style>
		.theme-colors .theme-button{
			display:none;
		}
	</style>
</head>

<body class="background show-spinner no-footer">
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side ">
                            <p class=" text-white h2"></p>

                        </div>
                        <div class="form-side">
                            <a href="Dashboard.Default.html">
                                <span class="logo-single"></span>
                            </a>
                            <h6 class="mb-4">Create Project</h6>
                            <form method="post">
                                {% csrf_token %}
                                <label class="form-group has-float-label mb-4">
                                    <input class="form-control" type="text" name="name" required />
                                    <span>Name</span>
                                </label>
								 <label class="form-group has-float-label mb-4">
                                    <input class="form-control" name="email" type="email" required />
                                    <span>Email</span>
                                </label>
                                {% if error %}
                                <span style="color:red">Name already exists</span>
                                {% endif %}
                                <div class="d-flex justify-content-end align-items-center">
                                    <button class="btn btn-primary btn-lg btn-shadow" type="submit">Create</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'adminp/js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'adminp/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'adminp/js/dore.script.js' %}"></script>
    <script src="{% static 'adminp/js/scripts.js' %}"></script>
</body>

</html>