    {% load static %}
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'adminp/font/iconsmind-s/css/iconsminds.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/font/simple-line-icons/css/simple-line-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/bootstrap.rtl.only.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/fullcalendar.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/dataTables.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/datatables.responsive.bootstrap4.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/glide.core.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/bootstrap-stars.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/nouislider.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/bootstrap-datepicker3.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/vendor/component-custom-switch.min.css' %}" />
    <link rel="stylesheet" href="{% static 'adminp/css/main.css' %}" />