files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |


            * * * * * source /opt/python/run/venv/bin/activate && cd /opt/python/current/app/ && source /opt/python/current/env && python manage.py pending >> /var/log/job1.log 2>&1

