option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "github.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "github/wsgi.py"

packages:
  yum:
    postgresql95-devel: []
	git: []
        gcc: []
        gcc-c++: []
        make: []
        libffi-devel: []
        libmemcached-devel: []
        vim-enhanced: []