files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

           
            # Your actual script content
            source /opt/python/run/venv/bin/activate && cd /opt/python/current/app/ && source /opt/python/current/env && python pending.py >> /var/log/pizza.log 2>&1
            

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"